@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Equipo futbol</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Equipo Futbol</h2>
        <p>
            Student: Daniel Terceros
        </p>
    </div>  
</div>